:root {
  --crystal-color: #aedad3;
  --cultured-color: #f4f4f4;
  --sandy-brown-color: #f09963;
  --white-color: #ffffff;
}

.App {
  width: 100%;
  height: 100vh;
  background: var(--crystal-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App .todo-div {
  width: 45vw;
  height: 75vh;
  background-color: var(--cultured-color);
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.App .todo-div .todo-header {
  padding: 10px 0px;
}

.App .todo-div .todo-header h1 {
  color: var(--white-color);
  background: var(--sandy-brown-color);
  padding: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.App .todo-div .todo-add-form form {
  padding: 5px;
}

.App .todo-div .todo-add-form form input {
  text-align: left;
  height: 30px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--sandy-brown-color);
  font-size: 20px;
  font-weight: 500;
  width: 60%;
}

.App .todo-div .todo-add-form form button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  outline: none;
  border-color: transparent;
  background-color: var(--sandy-brown-color);
  color: var(--white-color);
  font-size: 15px;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  .App .todo-div {
    width: 70vw;
  }
}

@media (max-width: 400px) {
  .App .todo-div {
    width: 85vw;
  }
}
