:root {
  --fontcolor: #4d3232;
  --greybackground: #f1f1f1;
  --footercolor: #6495ed;
  --whitefont: #ffffff;
  --whitebackground: #ffffff;
  --linkcolor: #1358d0;
  --linkhovercolor: #ff0000;
  --headercolor: #003c68;
}

* {
  font-family: Lato, sans-serif;
  color: var(--fontcolor);
}

h1 {
  color: var(--headercolor);
  text-transform: uppercase;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-content {
  display: block;
  padding-bottom: 60px;
}

.main-content .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: var(--greybackground);
}

.main-content .header-container .header-text {
  font-size: 2em;
  text-align: center;
}

.main-content .header-container .header-desc {
  display: flex;
  flex-direction: row;
}

.main-content .header-container .header-desc div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main-content .header-container .header-desc * {
  margin: 30px;
  text-align: justify;
}

.main-content .header-container .header-desc img {
  width: 80%;
  align-self: center;
}

@media (max-width: 800px) {
  .main-content .header-container .header-desc {
    flex-direction: column;
  }
  .main-content .header-container .header-desc div {
    width: auto;
  }
  .main-content .header-container .header-desc * {
    margin: 10px;
  }
}

.main-content .article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 50px;
  background-color: var(--whitebackground);
}

.main-content .article-container h1 {
  width: 100%;
  padding: 10px;
  font-size: 1.6em;
  text-align: center;
}

.main-content .article-container article {
  width: 30%;
  padding: 20px;
}

.main-content .article-container article p {
  text-align: justify;
  font-size: 0.9em;
}

.main-content .article-container article a {
  color: var(--linkcolor);
  font-size: 0.8em;
}

.main-content .article-container article a:hover {
  color: var(--linkhovercolor);
}

@media (max-width: 800px) {
  .main-content .article-container {
    display: flex;
    flex-direction: column;
  }
  .main-content .article-container article {
    width: auto;
    padding: 10px;
  }
}

.main-content .form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px;
  background-color: var(--greybackground);
}

.main-content .form-container h1 {
  width: 100%;
  padding: 10px;
  font-size: 1.6em;
  text-align: center;
}

.main-content .form-container form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.main-content .form-container form label {
  padding: 10px;
  width: 620px;
  font-size: 0.9em;
}

.main-content .form-container form button {
  padding: 10px;
  width: 620px;
  margin-top: 20px;
}

.main-content .form-container form label input[type="text"],
.main-content .form-container form label input[type="email"],
.main-content .form-container form label input[type="tel"],
.main-content .form-container form label select {
  padding: 5px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid var(--fontcolor);
}

.main-content .form-container form label a {
  color: var(--linkcolor);
}

.main-content .form-container form label a:hover {
  color: var(--linkhovercolor);
}

.footer-container {
  background-color: var(--footercolor);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-container div {
  text-align: center;
  font-style: italic;
  padding: 20px;
  color: var(--whitefont);
}
